@page
@model TimeLogWebsite.Pages.ProjectDetailsModel
@{
}

<h1>Project Crimson - Timesheets for @DateTime.Now.AddMonths(-1).ToString("MMMM") @DateTime.Now.AddMonths(-1).ToString("yyyy")</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Project Code</th>
            <th>Name</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>176</td>
            <td>Alicia Thomber</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Allie Bellew</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>176</td>
            <td>David So</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Diane Prescott</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Eric Gruber</td>
            <td>70.00</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Greg Winston</td>
            <td>70.00</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Kelly Krout</td>
            <td>90.00</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Molly Clark</td>
            <td>90.00</td>
        </tr>
    </tbody>
</table>
